@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fuente-texto;
  color: $color-texto;
  background-color: $color-secundario;
  line-height: 1.6;

  @include mobile-chico {
    padding-left: 12px;
    padding-right: 12px;
  }
}

main {
  width: 100%;
  max-width: none;

  > section + section {
    margin-top: 60px;
  }

  > p {
    margin-bottom: 24px;
  }
}

figure {
  margin: 0;
}