@use '../utilities/variables' as *;

h1 {
  font-family: $fuente-titulos;
  font-weight: 700;
  font-size: 28px;
  color: $color-primario;
}

h2 {
  font-family: $fuente-titulos;
  font-weight: 500;
  font-size: 24px;
  color: $color-primario;
  margin-bottom: 30px;
}

p {
  font-size: 16px;
}